*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body{
    background-color: gray;
}
html{
    scrollbar-width: none;
}
::-webkit-scrollbar{
    display: none;
}

.navbar{
    position: relative;
    z-index: 2;
}
.navbar ul{
    display: flex;
    width: 100%;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.414);
    color: white;
}

.navbar a{
    color: white;
    text-decoration: none;
}

.navbar li{
    list-style: none;
    padding: 1rem;
    transition: .7s;
}

.navbar-logo{
    flex:1;
    font-size: 1.3rem;
    user-select: none;
}

.navbar-search{
    flex :9;
}
.only-for-homepage{
    visibility: collapse;
    pointer-events: none;
    display: none;
}
.navbarnewpost img{
    width: 2rem;
    filter: invert(1);
    cursor: pointer;
}

.navbarnewstang img{
    width: 2rem;
    filter: invert(1);
    cursor: pointer;
}
.navbar-search input{
    outline: none;
    border: none;
    border-radius: 6px;
    height: 2rem;
}
.navbar-toggle img{
    width: 2rem;
    filter: invert(1)}
.navbar-toggle{
    display:none;
}
.navbar-search input{
    outline: none;
    border: none;
    border-radius: 6px;
    height: 2rem;
    width: 17rem;
    transition: .7s;
}
.navbar-links:hover{
    font-size: 1.6rem;

}

.navbar-search input:hover{
    width: 19rem;
}

@media (max-width:861px){

    .navbar ul{
        flex-wrap: wrap;
    }
    .navbar-toggle{
        display: block;
    }
    .navbar-links{
        display: none;
        text-align: center;
        width: 100%;

    }
    .active{
        display: block;
    }
}
@media (max-width:496px){
    .navbar ul{
        flex-wrap: wrap;
    }
    .navbar-toggle{
        display: block;
    }
    .navbar-links{
        display: none;
        text-align: center;
        width: 100%;

    }
    .active{
        display: block;
    }

    .navbar-search input{
        width:100%;
    }
}


.results{
    background-color: white;
    position: relative;
    width: 55rem;
    height: 12rem;
    border-radius: 8px;
    top: 8rem;
    margin-left: 5%;
    margin-bottom: 2rem;
}

.profileimage{
    position: absolute;
}

.profileimage img{
    position: relative;
    height: 12rem;
    width: 12rem;
    border-radius: 0.4rem;
}

.profileimage .p1{
    position: relative;
    bottom: 12rem;
    left: 12.2rem;
    font-size: 1.5rem;
    width: 16rem;
    overflow-x: scroll;
}
.profileimage .p2{
    position: relative;
    bottom: 11.5rem;
    left: 12.8rem;
    width: fit-content;
}

.profileimage .p3{
    position: relative;
    bottom: 11rem;
    left: 13rem;
    overflow-y: scroll;
    width: 41rem;
    word-wrap: break-word;
    height: 3rem;
}

.profileimage .p4{
    position: absolute;
    left: 49rem;
    bottom: 16rem;
    width: max-content;
}

.profileimage a{
    text-decoration: none;
    color: black;
}

.chatpopupbox{
    background-color: rgb(218, 218, 218);
    width: 22rem;
    height: 9rem;
    position: absolute;
    z-index: 3;
    top: 6rem;
    left: 29rem;
    border-radius: 0.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: 0;
    opacity: 0;
    pointer-events: none;
    transition: .7s;
}


.showchatpopup{
    visibility: visible;
    opacity: 100;
}

.chatpopupbox .username{
    position: absolute;
    bottom: 6rem;
    left: 3rem;


}
.chatpopupbox .roomname{
    position:absolute;
}

.chatusername{
    outline: none;
    border: none;
    height: 2rem;
    border-radius: 0.3rem;
}

.chatroomname{
    outline: none;
    border: none;
    height: 2rem;
    border-radius: 0.3rem;
}

.enterbutton{
    position: relative;
    top: 3rem;
}

.enterbutton button{
    padding: 0.7rem;
    border-radius: 0.4rem;
    width: 7rem;
    box-shadow: inset 0 0 0 0 rgba(0, 123, 255, 0.518);
    transition: 1s;
    outline: none;
    border: none;
}

.enterbutton button:hover{
    box-shadow: inset 3rem 0 0 0 rgba(0, 123, 255, 0.891);
    color: black;

}

.chatpopupbox img{
    position: absolute;
    width: 1rem;
    height: 1rem;
    bottom: 3rem;
    left: 20.7rem;
    bottom: 7.8rem;
    cursor: pointer;
    transition: 1s;
}

.chatpopupbox img:hover{
    filter: invert(1);
}

@media only screen and (max-width:953px) {
    .results{
        width: 91vw;
    }


    .profileimage .p4{
        left: 80vw;
    }
    
}
@media only screen and (max-width:799px) {

    .profileimage .p4{
        left: 78vw;
    }
    
}
@media only screen and (max-width:711px) {


    .profileimage .p4{
        left: 77vw;
        bottom: 17rem;
    }

    .profileimage .p3{
        width: 18rem;
        overflow-y: scroll;
        height: 4rem;
        width: 60vw;
    }
    
}
@media only screen and (max-width:668px) {

    .profileimage .p3{
        width: 45vw;
    }

    .profileimage .p4{
        top: 10rem;
    }
    
}
@media only screen and (max-width:520px) {
    html{
        font-size: 95%;
    }


    .profileimage .p4{
        left: 74vw;
        bottom: 17rem;
    }

    
}
@media  screen and (max-width:581px) {
    .profileimage .p4{
        left: 75vw;
    }  
}
@media  screen and (max-width:581px) {
    .profileimage .p4{
        left: 73vw;
    }  
}
@media only screen and (max-width:468px) {
    html{
        font-size: 86%;
    }
}
@media only screen and (max-width:418px) {
    html{
        font-size: 80%;
    }
    .profileimage .p4{
        left: 72vw;
    }
}
@media only screen and (max-width:388px) {
    html{
        font-size: 72%;
    }
    
}
@media only screen and (max-width:351px) {
    html{
        font-size: 65%;
    }


    .profileimage .p4{
        left: 72vw;
        bottom: 17rem;
    }

}
@media only screen and (max-width:320px) {
    html{
        font-size: 60%;
    } 
}













