*{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
html{
    scrollbar-width: none;
}
::-webkit-scrollbar{
    display: none;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    position:relative;

}



body{
    overflow: hidden;
}

html{
    overflow: hidden;
}

.video-container{
    position: absolute;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.overlay-items{
    position:relative;
    z-index: 1;
    text-align: center;

}

.box{
    background-color: rgba(255, 255, 255, 0.195);
    position: relative;
    width: 58rem;
    height: 35rem;
    bottom: 4rem;
    text-align: center;
    display: flex;
    justify-content: center;
}

.welcometext .p1{
    font-size: 2rem;
    width: 100vw;
}

.profileselection{
    outline: none;
    border: none;
    border-radius: 2rem;
    position: absolute;
    top: 13.7rem;
}

.display{
    background-color: black;
    position: absolute;
    width: 6rem;
    height: 6rem;
    top: 7rem;
    border-radius: 0.5rem;
}


.display img{
    width: 6rem;
    height: 6rem;
    border-radius: 0.5rem;
}

.bio-sec{
    position: absolute;
    top: 18rem;

}

.bio-sec textarea{
    outline: none;
    border: none;
    width: max-content;
    background-color: rgba(255, 255, 255, 0.378);
    font-size: 0.9rem;
    width: 17rem;
    transition: .7s;
}

.bio-sec textarea:hover{
    width: 18.5rem;
}

.location-sec{
    position: absolute;
    top: 24rem;
}

.location-sec input{
    outline:  none;
    border: none;
    background-color: rgba(255, 255, 255, 0.378);
    width: 14rem;
    transition: .7s;
}
.location-sec input:hover{
    width: 15.5rem;
}
.btn-sec{
    position: absolute;
    top: 28rem;
}

.btn-sec button{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    width: 5rem;
    box-shadow: inset 0 0 0 0 lightsteelblue;
    transition: 1.2s;
    border: none;
    outline: none;
    border-radius: 4px;
}

.btn-sec button:hover{
    box-shadow: inset 4rem 0 2rem 0 lightsteelblue;
    color: black;
}

.deleteaccount{
    color: red;
    cursor: pointer;
    position: relative;
    left: 24rem;
    bottom: 4rem;
}

.deletepopup{
    position: absolute;
    background-color: rgb(217, 217, 217);
    width: 30rem;
    height: 8.5rem;
    z-index: 8;
    top: 10rem;
    border-radius: 6px;
    opacity: 0;
    visibility: collapse;
    pointer-events: none;
    transition: .7s;
    text-align: center;
}

.showdeletepopup{
    opacity: 100;
    visibility: visible;
    pointer-events: all;
    transform: scale(1.01)
}

.deletepopup input{
    border: none;
    outline: none;
    border-radius: 4px;
    position: relative;
    transition: .7s;
    width: 8rem;
    height: 2rem;
    margin:auto;
    top: .3rem;
}

.deletepopup input:hover{
    width: 12rem;
}

.buttondlt{
    position: relative;
    width: 100%;
    top: .7rem;
}

.deletepopup button{
    outline: none;
    border: none;
    box-shadow: inset 0 0 0 0 rgba(38, 0, 255, 0.44);
    transition: .7s;
    padding: .5rem;
    border-radius: 6px;
    width: 6rem;
}


.deletepopup button:hover{
    box-shadow: inset 6rem 0 0 0 rgba(255, 0, 0, 0);
}

.message{
    color: red;
    position: absolute;
    font-size: small;
    top: 7rem;
}

@media only screen and (max-width:912px) {
    .deleteaccount{
        left: 83vw;
        width: fit-content;
    }
}
@media only screen and (max-width:800px) {
    .deleteaccount{
        left: 81vw;
    }
}
@media only screen and (max-width:724px) {
    .deleteaccount{
        left: 79vw;
    }
}
@media only screen and (max-width:660px) {
    .deleteaccount{
        left: 77vw;
        top: 28.7rem;
    }
}
@media only screen and (max-width:596px) {
    .deleteaccount{
        left: 75vw;
    }
}
@media only screen and (max-width:552px) {
    .deleteaccount{
        left: 73vw;
    }
}
@media only screen and (max-width:506px) {
    .deleteaccount{
        left: 71vw;
    }
}
@media only screen and (max-width:484px) {
    .deleteaccount{
        left: 70vw;
    }

    .deletepopup{
        width: 100vw;
    }
    .deletepopup button{
        position: relative;

    }
}
@media only screen and (max-width:454px) {
    .deleteaccount{
        left: 68vw;
    }
}
 @media only screen and (max-width:426px) {
    .deleteaccount{
        left: 66vw;
    }
}
@media only screen and (max-width:400px) {
    .deleteaccount{
        left: 64vw;
    }
}
@media only screen and (max-width:380px) {
    .deleteaccount{
        left: 62vw;
    }
}
@media only screen and (max-width:356px) {
    .deleteaccount{
        left: 60vw;
    }
}
@media only screen and (max-width:340px) {
    .deleteaccount{
        left: 58vw;
    }
}
@media only screen and (max-width:324px) {
    .deleteaccount{
        left: 56vw;
    }
}





