{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href={% static 'css/profile.css' %}>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&family=Roboto&display=swap" rel="stylesheet"> 
    <title>StangChat- {{profile.username}}</title>
</head>
<body>
    <div class="container">
        <div class="overlay-items">
            <div class="main-box">
                <div class="profileimage">
                    <img src="{{profile.profile_pic.url}}" alt="">
                </div>
                 <div class="usernameheading">
                    {{profile.username}}
                </div> 
                <div class="stats-section">
                    <ul>
                        <li>POST<br>{{profile.number_of_posts}}</li>
                        <li class='followerstap' id='followers'>FOLLOWERS<br>{{number_of_followers}}</li>
                        <li class='followingtap' id='following'>FOLLOWING<br>{{number_of_following}}</li>
                    </ul>
                </div>
                <div class="bio-section">
                    {% if profile.bio != '' %}
                    <p>{{profile.bio}}</p>
                    {% else %}
                    <p>{{profile.username}} has no bio yet</p>
                    {% endif %}
                </div>
                <div class="button-container">
                    {% if profile.username == request.user.username %}
                    <a href="/settings"><button class="dynamic-action">Account Settings</button></a>
                    {% elif profile.username != request.user.username %}
                    <form action="/followupdate" method="post">
                        {% csrf_token %}
                    <input type="hidden" name='username' value={{request.user.username}}>
                    <input type="hidden" name='user_being_followed' value={{profile.username}}>
                    <button class="dynamic-action" type="submit"> {{buttontxt}} </button>
                </form>
                    {% endif %}
                </div>
                <div class="post-container">
                    <div class="posts">
                        {% for allpost in post %}
                        {% if allpost.post_image == '' %}
                        {% else %}
                        <img class='imagesimages' src="{{allpost.post_image.url}}">
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <div class="followingpopup" id='followingpopup'>
                    <div class="followingheader">
                        {% if request.user.username == user %}
                        <p>Users you follow</p>
                        {% else %}
                        <p>Users {{user}} follow</p>
                        {% endif %}
                    </div>
                    {% for following in followingprofiles %}
                    <div class="following-list">
                        <div class="image"><img src={{following.profile_pic.url}}>
                        </div>
                        <div class="following-username">
                            <a href="/profile/{{following.username}}"><p>@{{following.username}}</p></a>
                        </div>
                        <div class="location">
                            <p>{{following.location}}</p> 
                        </div>
                        <div class="followbutton">
                            <a href="/profile/{{following.username}}"><button>Unfollow</button></a>
                        </div>
                    </div>
                    {% endfor %}
                </div>

                <div class="followerspopup" id='followerspopup'>
                    <div class="followersheader">
                        {% if request.user.username == user %}
                        <p>Your Followers</p>
                        {% else %}
                        <p>Followers of {{user}}</p>
                        {% endif %}
                    </div>
                    {% for followers in followersprofiles %}
                    <div class="followers-list">
                        <div class="followimage"><img src={{followers.profile_pic.url}}>
                        </div>
                        <div class="followers-username">
                            <a href="/profile/{{followers.username}}"><p>@{{followers.username}}</p></a>
                        </div>
                        <div class="location">
                            <p>{{followers.location}}</p> 
                        </div>
                        <div class="followbutton">
                            <a href="/profile/{{followers.username}}"><button>Profile</button></a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <a href="/"><button class='back-btn'>Back</button></a>
        </div>
        <div class="video-container">
            <video src={% static 'profile.mp4' %} autoplay muted loop></video>
        </div>
    </div>
</body>
<script src={% static 'js/profile.js' %}></script>
</html>
