{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href={% static 'css/settings.css' %}>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap" rel="stylesheet"> 
    <title>Settings -StangChat</title>
</head>
<body>
    <div class="container">

        <div class="overlay-items">
            <form action="/deleterequest" method='post'>
                <div class="box">
                    {% csrf_token %}
                    <div class="deletepopup" id='deletepopup'>
                        <p>Hey! {{request.user.username}} if you want to delete your account Type yourusername/delete</p>
                        <input type="text" name="userresponse" placeholder='yourusername/delete'>
                        {% for message in messages %}
                        <p class='message'>{{message}}</p>
                        {% endfor %}
                        <div class="buttondlt">
                        <button type="submit">Proceed</button>
                    </div>
                    </form>
                    </div>
                <div class="welcometext">
                    {% if new == yes %}
                    <p class='p1'>{{profile.username}}</p>
                    {% else %}
                    <p class='p1'>Account Settings for {{profile.username}}</p>
                    {% endif %}
                    <p class='p2'>Lets build a profile for you</p>
                    <p class='deleteaccount' id='deleteaccount'>DELETE ACCOUNT</p>
                </div>
                <div class="display">
                    <form action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                    <img  class='showimg' src={{profile.profile_pic.url}}>
                </div>
                <div class="profileselection">
                    <input class='profileinput' type="file" name='profile-img' accept='image/*'>
                </div>
                <div class="bio-sec">
                    <textarea name="bio" id="bio" placeholder='Write your bio here'>{{profile.bio}}</textarea>
                </div>
                <div class="location-sec">
                    <input type="text" name='location' placeholder='location' value={{profile.location}}>
                </div>
                <div class="btn-sec">
                    <button type="submit">Save</button>
                </form>
                <button>Home</button>
                </div>
            </div>
    </div>
        <div class="video-container">
            <video src={% static 'cloud.mp4' %} autoplay loop muted></video>
        </div>
    </div>
</body>
<script src={% static 'js/settings.js' %}></script>
</html>